<div class="container">
  <form>
    <div class="form-group">
      <h1 class="text-center text-primary" style="margin-top: 30px;">Learning Angular</h1>
      <div>
        <input type="text" class="form-control box" id="inputbox" name="name" [(ngModel)]="title"><button
          class="btn btn-primary button" (click)="funct1()" [disabled]="title=== ''">Submit</button>
      </div>
    </div>
  </form>

  <div>
    <select [(ngModel)]="value" (click)="funct2()">
      <option *ngFor="let item of data">{{item.name}}</option>
    </select>
  </div>
  <app-radio></app-radio>
  <app-toggle></app-toggle>
  <div>
    <p *ngIf="flag; else elseblock">Flag is true</p>
    <ng-template #elseblock>Flag is not true</ng-template>
    <button (click)="toggleFlag()">Change</button>
  </div>

  <div>
    <input type="text" placeholder="name" [(ngModel)]="name">
    <button (click)="add()">ADD</button>
    <li *ngFor="let item of array">{{item}}</li>
  </div>

  <div>
    <p *ngIf="count === 5">{{count}}</p>
    <button (click)="funct5()" [ngStyle]="{color: changeColor()}">Change COlor after 5 clicks</button>
  </div>